.note-list {
    /* display: grid;
     grid-template-columns: repeat(3, 1fr); */
    /* gap: 10px; */
    columns: 3 250px;
}

.note-list>* {
    break-inside: avoid;
    overflow: hidden;
}

.notes-contiener {
    /* display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center; */
    columns: 3 250px;
}

/* .note-add {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */